$border-radius: 4px;
$padding: 10px;
$color: #6c768a;
$background: #ffffff;
$margin-bottom: 35px;

.input {
   background: $background;
   border-radius: $border-radius;
   padding: $padding;
   color: $color;
   width: 100%;
   box-sizing: border-box;
   border:1px solid $background;
   margin-bottom: $margin-bottom;
}